############################
# OS X
############################

server/.DS_Store
server/.AppleDouble
server/.LSOverride
server/Icon
server/.Spotlight-V100
server/.Trashes
server/._*


############################
# Linux
############################

*~


############################
# Windows
############################

server/Thumbs.db
server/ehthumbs.db
server/Desktop.ini
server/$RECYCLE.BIN/
server/*.cab
server/*.msi
server/*.msm
server/*.msp


############################
# Packages
############################

server/*.7z
server/*.csv
server/*.dat
server/*.dmg
server/*.gz
server/*.iso
server/*.jar
server/*.rar
server/*.tar
server/*.zip
server/*.com
server/*.class
server/*.dll
server/*.exe
server/*.o
server/*.seed
server/*.so
server/*.swo
server/*.swp
server/*.swn
server/*.swm
server/*.out
server/*.pid


############################
# Logs and databases
############################

server/.tmp
server/*.log
server/*.sql
server/*.sqlite
server/*.sqlite3


############################
# Misc.
############################

server/*#
server/ssl
server/.idea
server/nbproject
server/public/uploads/*
server/!public/uploads/.gitkeep

############################
# Node.js
############################

server/lib-cov
server/lcov.info
server/pids
server/logs
server/results
server/node_modules
server/.node_history

############################
# Tests
############################

server/testApp
server/coverage

############################
# Strapi
############################

server/.env
server/license.txt
server/exports
server/*.cache
server/build
server/.strapi-updater.json



# Client

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules
client/.pnp
client/.pnp.js

# testing
client/coverage

# next.js
client/.next/
client/out/

# production
client/build

# misc
client/.DS_Store
client/*.pem

# debug
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# local env files
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

# vercel
client/.vercel

# typescript
/*.tsbuildinfo
